<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Eat this burger!{{else}}This burger was eaten!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove burger..</button>
    
</li>
<br>